body {
    font-family: Georgia, "Times New Roman", Times, serif;
    max-width: 600px;
    margin: 0 auto;
}

h1,
h3 {
    padding: 8px;
}

h1 {
    text-align: center;
    background-color: #FFAD84;
}

img {
    display: block;
    margin: 0 auto;
}

h3 {
    background-color: #FFC47E;
}